@page
@model Chat_V2.Pages.ConfirmUnbanUserModel
@{
    ViewData["Title"] = "Confirm Unban User";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Are you sure you want to unban this user?</h3>

            <div id="group-data" class="container-fluid">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserID)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserID)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                </dl>
            </div>

            <form method="post" class="form-group">
                <button type="submit" asp-page-handler="Cancel" class="btn btn-dark">Cancel</button>
                <button type="submit" asp-page-handler="Confirm" class="btn btn-warning">Confirm</button>
                <input type="hidden" name="userId" value="@Model.UserID" />
                <input type="hidden" name="groupId" value="@Model.GroupID" />
            </form>
        </div>
    </div>
</div>