@page
@model Chat_V2.Pages.GroupModel
@using Chat_V2.Models
@{
    ViewData["Title"] = "Group " + Model.ViewModel.Group.Name;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="display-4">Group <span id="group-name-label">@(Model.ViewModel.Group.Name)</span></h1>

<div id="group-data" class="container-fluid">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewModel.Group.GroupID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewModel.Group.GroupID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewModel.Group.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewModel.Group.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewModel.Group.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewModel.Group.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewModel.Group.IsPrivate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewModel.Group.IsPrivate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewModel.Group.Memberships)
        </dt>

        <dd class="col-sm-10" id="group-member-list">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>UserName</th>
                    <th>Rank</th>
                    @if (Model.ViewModel.IsGroupMember) {<th>Status</th>}
                </tr>
                @foreach (var item in Model.ViewModel.Group.Memberships.OrderByDescending(membership => membership.Rank)) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ChatUser.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChatUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => PermissionRank.GetPermissionRankByOrdinal(item.Rank).Name)
                </td>
                @if (Model.ViewModel.IsGroupMember) {
                    <td>
                        @Html.DisplayFor(modelItem => item.MembershipStatus.Type)
                    </td>
                }
            </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<hr />
<div class="container-fluid">
    @if (Model.ViewModel.IsGroupMember) {
        <hr />
        <div id="group-member-user" class="row">
            <button id="leave-group" class="btn btn-danger"data-toggle="modal" data-target="#leaveGroupConfirmModal">Leave Group</button>
            
            <div class="modal fade" id="leaveGroupConfirmModal" tabindex="-1" role="dialog" aria-labelledby="leaveGroupModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="leaveGroupModalLabel">Are you sure you want to leave this group?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            This cannot be undone!
                        </div>
                        <div class="modal-footer">
                            <form method="post" class="form-group">
                                <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                                <button type="submit" asp-page-handler="LeaveGroup" class="btn btn-danger">Leave Group</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.ViewModel.Membership.Rank > PermissionRank.USER.Ordinal) {
            <hr />
            <div id="group-member-moderator" class="row">
                <h3 class="display-1">Join Requests</h3>
                <div id="join-requests-list" class="col-12">
                    @foreach (var request in Model.ViewModel.Group.GroupJoinRequests) {
                    <div id="request-user-@(request.ChatUserID)" class="card">
                        <div class="card-header">@(request.ChatUser.UserName)</div>
                        <div class="card-body">
                            <dl>
                                <dt>
                                    ID
                                </dt>
                                <dh>
                                    @(request.ChatUserID)
                                </dh>
                                <dt>
                                    Username
                                </dt>
                                <dh>
                                    @(request.ChatUser.UserName)
                                </dh>
                                <dt>
                                    Message
                                </dt>
                                <dh>
                                    @(request.Message)
                                </dh>
                            </dl>
                            <form method="post">
                                <button type="submit" asp-page-handler="AcceptJoinRequest" class="btn btn-success">Accept</button>
                                <button type="submit" asp-page-handler="RejectJoinRequest" class="btn btn-danger">Reject</button>
                                <input type="hidden" name="userId" value="@(request.ChatUserID)" />
                            </form>
                        </div>
                        <div class="card-footer text-muted">@(request.DateSent.ToString())</div>
                    </div>
                    }
                </div>
            </div>
            @if (Model.ViewModel.Membership.Rank > PermissionRank.MODERATOR.Ordinal) {
                <hr />
                <div id="group-member-officer" class="row">

                </div>
                @if (Model.ViewModel.Membership.Rank > PermissionRank.OFFICER.Ordinal) {
                    <hr />
                    <div id="group-member-admin" class="row">

                    </div>
                    @if (Model.ViewModel.Membership.Rank > PermissionRank.ADMINISTRATOR.Ordinal) {
                        <hr />
                        <div id="group-member-owner" class="row">

                        </div>
                        @if (Model.ViewModel.Membership.Rank > PermissionRank.OWNER.Ordinal) {
                            <hr />
                            <div id="group-member-superuser" class="row">

                            </div>
                        }
                    }
                }
            }
        }
    } else {
        <div id="not-group-member" class="row">
            <div class="col-12">
                @if (Model.ViewModel.JoinRequestSent) {
                    <h3>You have sent a join request.</h3>
                } else {
                    <h3>You are not a group member. To become a group member, send a join request.</h3>
                    <form method="post" class="form-group">
                        <label asp-for="JoinGroupInput.Message"></label>
                        <textarea asp-for="JoinGroupInput.Message" class="form-control"></textarea>
                        <button id="send-join-request" type="submit" asp-page-handler="SendJoinRequest" class="btn btn-primary">Send</button>
                    </form>
                }
            </div>
        </div>
    }
</div>
<style>

    #group-member-list {
        
    }

</style>