@page
@model Chat_V2.Pages.ProfileModel
@using Chat_V2.Areas.Identity.Data
@using Chat_V2.Interfaces
@using Microsoft.AspNetCore.Identity
@inject IFileOperationProvider fileOperationProvider
@inject UserManager<ChatUser> userManager
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var returnUrl = (HttpContext.Request.Path.Value + HttpContext.Request.QueryString.Value);
    var canSend = Model.IsThisUser || !(Model.HasChat || Model.InviteSent || Model.OtherUserSentInvite);
}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</a>
        @if (Model.IsThisUser) {
            <a class="nav-item nav-link" id="nav-notifications-tab" data-toggle="tab" href="#nav-notifications" role="tab" aria-controls="nav-notifications" aria-selected="false">Notifications <span id="notifs-badge" class="badge badge-primary" hidden>0</span></a>
            <a class="nav-item nav-link" id="nav-invitations-tab" data-toggle="tab" href="#nav-invitations" role="tab" aria-controls="nav-invitations" aria-selected="false">Invitations <span id="invitations-badge" class="badge badge-primary" hidden>@(Model.ChatUser.GroupJoinInvitations.Count + Model.ChatUser.PersonalChatInvitations.Count)</span></a>
        }
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    @if (Model.ChatUser.IsEnabled) {
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <br />

            <div class="container">
                @if (!canSend) {
                    <div class="row">
                        <div class="col-12">
                            @if (Model.InviteSent) {
                            <div class="alert alert-warning">
                                You have sent this user a chat invitation.
                            </div>
                            } else if (Model.OtherUserSentInvite) {
                                <div class="alert alert-warning">
                                    This user has sent you a chat invitation!
                                </div>
                            } else {
                                <div class="alert alert-success">
                                    You are chatting with this user!
                                </div>
                            }
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="@(fileOperationProvider.FileLoadURL + "/" + Model.ChatUser.ProfileImage)" width="256" height="256" class="img-thumbnail" />
                        <h3 class="display-3">@Model.ChatUser.UserName</h3>
                    </div>
                </div>
                <dl class="row text-center">
                    <dt class="col-2">
                        @Html.DisplayNameFor(model => model.ChatUser.Id)
                    </dt>
                    <dd class="col-10">
                        @Html.DisplayFor(model => model.ChatUser.Id)
                    </dd>
                    <dt class="col-2">
                        @Html.DisplayNameFor(model => model.ChatUser.FirstName)
                    </dt>
                    <dd class="col-10">
                        @Html.DisplayFor(model => model.ChatUser.FirstName)
                    </dd>
                    <dt class="col-2">
                        @Html.DisplayNameFor(model => model.ChatUser.LastName)
                    </dt>
                    <dd class="col-10">
                        @Html.DisplayFor(model => model.ChatUser.LastName)
                    </dd>
                </dl>
                <div class="row text-center">
                    <p>@Model.ChatUser.ProfileDescription</p>
                </div>
                <div class="row">
                    <hr />
                </div>
                <div class="row text-center">

                </div>
            </div>
        </div>
        @if (Model.IsThisUser) {
            <div class="tab-pane fade" id="nav-notifications" role="tabpanel" aria-labelledby="nav-notifications-tab">
                <br />

                <h4>Notifications</h4>

                <br />

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div id="no-notifs" class="card">
                                <div class="card-header">No Notifications</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div id="notifications-list">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-invitations" role="tabpanel" aria-labelledby="nav-invitations-tab">
                <br />

                <h4>Invitations</h4>

                <br />

                <div id="join-invitations-list" class="col-12">
                    @if (Model.ChatUser.GroupJoinInvitations.Count == 0 && Model.ChatUser.PersonalChatInvitations.Count == 0) {
                        <div id="no-invitations" class="card">
                            <div class="card-header">No Invitations</div>
                        </div>
                    } else {
                        @foreach (var invitation in Model.ChatUser.PersonalChatInvitations) {
                            <div id="invitation-@(invitation.SenderID)" class="card">
                                <div class="card-header">@((await userManager.FindByIdAsync(invitation.SenderID + "")).UserName)</div>
                                <div class="card-body">
                                    <dl>
                                        <dt>
                                            ID
                                        </dt>
                                        <dh>
                                            @(invitation.SenderID)
                                        </dh>
                                        <dt>
                                            Group Name
                                        </dt>
                                        <dh>
                                            @((await userManager.FindByIdAsync(invitation.SenderID + "")).UserName)
                                        </dh>
                                        <dt>
                                            Message
                                        </dt>
                                        <dh>
                                            @(invitation.Message)
                                        </dh>
                                    </dl>
                                    <form method="post" onsubmit="decrementInvitationsCount()">
                                        <button type="submit" asp-page-handler="AcceptPersonalChatInvitation" class="btn btn-success">Accept</button>
                                        <button type="submit" asp-page-handler="RejectPersonalChatInvitation" class="btn btn-danger">Reject</button>
                                        <input type="hidden" asp-for="PersonalChatInvitationInput.ChatUserID" value="@(invitation.ChatUserID)" />
                                        <input type="hidden" asp-for="PersonalChatInvitationInput.InvitationID" value="@(invitation.PersonalChatInvitationID)" />
                                        <input type="hidden" name="returnUrl" value="@returnUrl" />
                                    </form>
                                </div>
                                <div class="card-footer text-muted">@(invitation.DateSent.ToString())</div>
                            </div>
                        }
                        @foreach (var invitation in Model.ChatUser.GroupJoinInvitations) {
                            <div id="invitation-group-@(invitation.GroupID)" class="card">
                                <div class="card-header">@(invitation.Group.Name)</div>
                                <div class="card-body">
                                    <dl>
                                        <dt>
                                            ID
                                        </dt>
                                        <dh>
                                            @(invitation.GroupID)
                                        </dh>
                                        <dt>
                                            Group Name
                                        </dt>
                                        <dh>
                                            @(invitation.Group.Name)
                                        </dh>
                                        <dt>
                                            Message
                                        </dt>
                                        <dh>
                                            @(invitation.Message)
                                        </dh>
                                    </dl>
                                    <form method="post" onsubmit="decrementInvitationsCount()">
                                        <button type="submit" asp-page-handler="AcceptJoinInvitation" class="btn btn-success">Accept</button>
                                        <button type="submit" asp-page-handler="RejectJoinInvitation" class="btn btn-danger">Reject</button>
                                        <input type="hidden" asp-for="JoinInvitationInput.ChatUserID" value="@(invitation.ChatUserID)" />
                                        <input type="hidden" asp-for="JoinInvitationInput.InvitationID" value="@(invitation.GroupJoinInvitationID)" />
                                        <input type="hidden" name="returnUrl" value="@returnUrl" />
                                    </form>
                                </div>
                                <div class="card-footer text-muted">@(invitation.DateSent.ToString())</div>
                            </div>
                        }
                    }
                </div>
            </div>
            <script>
                "use strict";

                const invitationsCount = @(Model.ChatUser.GroupJoinInvitations.Count + Model.ChatUser.PersonalChatInvitations.Count);

                const viewmodel = {
                    UserID: @Model.ChatUser.Id,
                };
            </script>

            @section Scripts {
                <environment include="Development">
                    <script src="~/js/profile.js" asp-append-version="true"></script>
                </environment>
                <environment exclude="Development">
                    <script src="~/js/profile.min.js" asp-append-version="true"></script>
                </environment>
            }
        } else {
            @if (canSend) {
                <h3>You are not chatting with this user. To do so, send a chat invitation.</h3>
                <form method="post">
                    <div class="form-group">
                        <label asp-for="SendChatInvitationInput.Message"></label>
                        <textarea asp-for="SendChatInvitationInput.Message" class="form-control"></textarea>
                    </div>
                    <input type="hidden" asp-for="SendChatInvitationInput.ChatUserID" value="@(Model.ChatUser.Id)" />
                    <input type="hidden" name="returnUrl" value="@returnUrl" />
                    <button id="send-chat-invitation" type="submit" asp-page-handler="SendChatInvitation" class="btn btn-primary">Send</button>
                </form>
            }
        }
    } else {
        <br />

        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="@(fileOperationProvider.FileLoadURL + "/" + Model.ChatUser.ProfileImage)" width="256" height="256" class="img-thumbnail" />
                    <h3 class="display-3">@Model.ChatUser.UserName</h3>
                </div>
            </div>

            <br />

            <h5 class="text-danger text-center">This user has been deleted.</h5>
        </div>
    }
</div>